@import 'tailwindcss';

@theme {
  --color-brand-blue: #004a99;
  --color-brand-red: #a32020;
  --color-brand-dark: #23282d;

  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-body);
    color: var(--color-brand-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}
